hr{
  margin: 20px 0;
}

.box {
  margin: 20px;
}

.box2 {
  margin: 10px;
}

.box3 {
  margin-top: -10px;
}


h2 {
  margin-bottom: 40px;
}
.box4 {
  margin-top: 40px;
}
p {
  margin-top: 20px;
}

.box5 {
  margin-top: 40px;
  border-top: 1px solid #000;
}