span[data-descr] {
  position: relative;
  text-decoration: underline;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #fff;
  padding: 12px;
  color: #000000;
}